.scroll__btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0;

  font-size: 2rem;
  button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 20px hsla(0, 0%, 100%, 0.5);
  }
}
